	<div class="row location-row">
		<div class="col-md-1">
		</div>
		<div class="col-md-2">
			<%= link_to location_path(location), 'data-no-turbolink' => true do %>
			
				<%= image_tag(location.home_thumb.url ,:class => 'img-circle', size: '192x192') %>	
			<% end %>
		</div>
		<div class="col-md-8">
			<h3><%= location.name << ', ' << location.country %> <small><%= (money_without_cents_and_with_symbol location.price_range_floor_cents).to_s << ' - '<< (money_without_cents_and_with_symbol location.price_range_ceiling_cents).to_s %> / day</small></h3>
			<div class="icon-row row">
				<h4 class="col-md-4">Why Should I go?</h4>
				<div class="col-md-2">
					<% location.climbing_types.each do |type| %>
						<%= image_tag(type.icon.url, :class => 'icon') %>	
					<% end %>
				</div>
				<h4 class="col-md-4">Where am I going to sleep?</h4>
				<div class="col-md-2">
					<% location.accommodations.each do |accommodation| %>
						<%= image_tag(accommodation.icon.url, :class => 'icon') %>	
					<% end %>
				</div>
			</div>
			<div class="icon-row row">
				<h4 class="col-md-4">When Should I go?</h4>
				<div class="col-md-2">
					<% location.seasons.each do |seasons| %>
						<%= image_tag(seasons.icon.url, :class => 'icon') %>	
					<% end %>
				</div>
				<h4 class="col-md-4">How hard should I climb?</h4>
				<div class="col-md-2">
					<h4><%= location.grade.us %></h4>
				</div>
			</div>
		</div>
	</div>
