<div id="nearby" class="container info-section">
	<div class="row" >
		<div class="col-md-12">
			<h3><u>Nearby Destinations</u></h3>
			<p class="lead">
				Don't end your trip in <%= @location.name %>. There's plenty to see nearby
			</p>
		</div>
	</div>
	<div class="row">
		<div class="row col-md-12">
			<div class="col-md-12">
				<h5>Destinations within 200 miles of <%= @location.name %></h5>
				<ul class="list-group">
					<% @close_locations.each do |location|  %>
						<%= link_to location_path(location) do %>
						<li class="list-group-item">
							<%= location.name<<', '<<location.country %> ----------- <%= @location.distance_to(location).to_i %> miles
						</li>	
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
