<div id="<%= URI.escape(@section.title) %>" class="container info-section">
	<div class="row" >
		<div class="col-md-12">
			<h3><u><%= @section.title %></u></h3>
			<p class="lead">
				<%= @section.body %>
			</p>
		</div>
	</div>
	<div class="row">
		<% count = 0 %>
		<% is_row_closed = 1  %>
		<% if !@section.metadata.nil? %>
			<% @section.metadata.each do |key,value|  %>
				<% if count%2 == 0 and is_row_closed == 1 %>
					<div class="row col-md-12">
					<% is_row_closed = 0 %>
				<% end %>
				<div class="col-md-6">
					<h5><%= key %></h5>
					<ul class="list-group">
					<% value.each do |value| %>
						<li class="list-group-item"><%= value %></li>	
					<% end %>
					</ul>
				</div>

				<% if count%2 == 0 and is_row_closed == 0 and count != 0 %>
					</div>
					<% is_row_closed = 1 %>
				<% end %>

				<% count += 1 %>
			<% end %>
		<% end %>
	</div>
</div>
